<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="menu">


    <header id="header" class="clearfix">

        <nav class="navbar navbar-default navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                </button>
                <a class="navbar-brand" href="/"><img class="img-fluid" src="/images/logo.png" alt="Logo"></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/job/jobList">Job list</a></li>
                        <li><a href="/job/details">Job Details</a></li>
                        <li><a href="/resume">Resume</a></li>
                        <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Pages<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/profile">Profile</a></li>
                                <li><a href="/resume/post">Post Resume</a></li>
                                <li><a href="/job/post">Job Post</a></li>
                                <li><a href="/resume/edit">Edit Resume</a></li>
                                <li><a href="/user/profileDetails">profile Details</a></li>
                                <li><a href="/bookmark">Bookmark</a></li>
                                <li><a href="/job/appliedJob">Applied Job</a></li>
                                <li><a href="/user/deleteAccount">Close Account</a></li>
                                <li><a href="/user/register">Job Signup</a></li>
                                <li><a href="/user/login">Job Signin</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="nav-right">
                    <ul class="sign-in">
                        <li><i class="fa fa-user"></i></li>
                        <li><a href="/user/login">Sign In</a></li>
                        <li><a href="/user/register">Register</a></li>
                    </ul>
                    <a href="/job/post" class="btn">Post Your Job</a>
                </div>

            </div>
        </nav>
    </header>


</div>

</body>
</html>