<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="menu">


    <header id="header" class="clearfix">

        <nav class="navbar navbar-default navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                </button>
                <a class="navbar-brand" href="/"><img class="img-fluid" src="/images/logo.png" alt="Logo"></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/" th:text="#{main.home}">Home</a></li>
                        <li><a href="/job/jobList" th:text="#{main.job.list}">Job list</a></li>
                        <li><a href="/job/details" th:text="#{main.job.details}">Job Details</a></li>
                        <li><a href="/resume" th:text="#{main.view.resume}">Resume</a></li>
                        <li class="dropdown"><a href="javascript:void(0);" th:text="#{main.pages}" class="dropdown-toggle" data-toggle="dropdown">Pages<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/profile" th:text="#{main.profile}">Profile</a></li>
                                <li><a href="/resume/post" th:text="#{main.post.resume}">Post Resume</a></li>
                                <li><a href="/job/post" th:text="#{main.post.job}">Job Post</a></li>
                                <li><a href="/resume/edit" th:text="#{main.edit.resume}">Edit Resume</a></li>
                                <li><a href="/user/profileDetails" th:text="#{main.profile.details}">profile Details</a></li>
<!--                                <li><a href="/bookmark">Bookmark</a></li>-->
<!--                                <li><a href="/job/appliedJob">Applied Job</a></li>-->
                                <li><a href="/user/deleteAccount" th:text="#{main.delete.account}">Close Account</a></li>
                                <li><a href="/user/register" th:text="#{main.signup}">Job Signup</a></li>
                                <li><a href="/user/login" th:text="#{main.signin}">Job Signin</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="nav-right">
                    <ul class="sign-in">
                        <li><i class="fa fa-user"></i></li>
                        <li><a href="/user/login" th:text="#{main.signin}">Sign In/</a></li>
                        <li><a href="/logout" th:text="#{main.logout}">Logout</a></li>
                        <li><a href="/user/register" th:text="#{main.signup}">Register</a></li>
                    </ul>
                    <a href="/job/post" th:text="#{main.post.job}"class="btn">Post Your Job</a><br>
                    <a href="?lang=hy">Armenian</a> | <a href="?lang=ru">Russian</a> | <a href="?lang=en">English</a>
                </div>

            </div>
        </nav>
    </header>


</div>

</body>
</html>