<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jobs | Job Portal / Job Board HTML Template</title>
    <div th:include="fragments/head-fragment:: head"></div>

</head>
<body>

<div th:include="fragments/menu-fragment:: menu"></div>

<section class=" job-bg ad-details-page">
    <div class="container">
        <div class="breadcrumb-section">

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Job Post</li>
            </ol>
            <h2 class="title">Post Your Job</h2>
        </div>
        <div class="job-postdetails">
            <div class="row">
                <div class="col-lg-8">
                    <form action="/job/post" method="post">
                        <fieldset>
                            <div class="section postdetails">
                                <h4>Post Your Job<span class="pull-right">* Mandatory Fields</span></h4>
                                <div th:if="${errors != null && !errors.isEmpty()}">
                                    <ul>
                                        <li style="color: red" th:each="error:${errors}" th:text="${error}"></li>
                                    </ul>
                                </div>
                                <div class="row form-group brand-name">
                                    <label class="col-sm-3 label-title">Name<span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" name="name" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="row form-group add-title">
                                    <label class="col-sm-3 label-title">Category</label>
                                    <div class="col-sm-9">
                                        <select name="categoryId" class="form-control">
                                            <option value="#">Select a category</option>
                                            <option th:each="category:${categoryList}" th:text="${category.name }"
                                                    th:value="${category.id}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3">Job Type<span class="required">*</span></label>
                                    <div class="col-sm-9 user-type">
                                        <select name="jobType" class="form-control">
                                            <option value="#">Job Type</option>
                                            <option value="FULL_TIME">FULL_TIME</option>
                                            <option value="PART_TIME">PART_TIME</option>
                                            <option value="FREELANCE">FREELANCE</option>
                                            <option value="CONTRACT">CONTRACT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group item-description">
                                    <label class="col-sm-3 label-title">Description<span
                                            class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="description" id="textarea"
                                                  placeholder="Write few lines about your jobs" rows="8"></textarea>
                                    </div>
                                </div>
                                    <div class="row form-group select-price">
                                        <label class="col-sm-3 label-title">Salary<span
                                            /job/post class="required">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="number" name="salary" class="form-control" placeholder="Salary">
                                        </div>
                                    </div>
                                <div class="row form-group add-title">
                                    <label class="col-sm-3 label-title">Company<span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <select name="companyId" class="form-control">
                                            <option value="#">Company</option>
                                            <option th:each="company:${companies}" th:text="${company.name }"
                                                    th:value="${company.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox section agreement">
                                <button type="submit" class="btn btn-primary">Post Your Job</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:include="fragments/footer-fragment:: footer"></div>
<div th:include="fragments/preset-fragment:: preset"></div>

<script src="/js/jquery.min.js" type="07348d4a3b97c76a3872dd8e-text/javascript"></script>
<script src="/js/popper.min.js" type="07348d4a3b97c76a3872dd8e-text/javascript"></script>
<script src="/js/bootstrap.min.js" type="07348d4a3b97c76a3872dd8e-text/javascript"></script>
<script src="/js/price-range.js" type="07348d4a3b97c76a3872dd8e-text/javascript"></script>
<script src="/js/main.js" type="07348d4a3b97c76a3872dd8e-text/javascript"></script>
<script src="/js/switcher.js" type="07348d4a3b97c76a3872dd8e-text/javascript"></script>
<script type="07348d4a3b97c76a3872dd8e-text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-73239902-1', 'auto');
	  ga('send', 'pageview');
</script>
<script src="/js/rocket-loader.min.js" data-cf-settings="07348d4a3b97c76a3872dd8e-|49" defer=""></script>
</body>

</html>