<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head-fragment:: head"></div>

</head>
<body>

<div th:include="fragments/menu-fragment:: menu"></div>

<section class=" job-bg page  ad-profile-page">
    <div class="container">
        <div class="breadcrumb-section">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Candidate Profile</li>
            </ol>
            <h2 class="title" th:text="${currentUser.user.name}"></h2>
        </div>
        <div class="resume-content">
            <div class="profile section clearfix">
                <div class="profile-logo">
                    <img class="img-fluid" th:if="${resume.picUrl != null && !resume.picUrl.isEmpty()}"
                         th:src="@{/getImage(picture=${resume.picUrl})}" alt="Image">
                    <!--                    <img class="img-fluid" th:if="${resume.picUrl == null || resume.picUrl.isEmpty()}"-->
                    <!--                         th:src="@{/getUserImage(picName=${currentUser.user.picUrl})}" alt="Image">-->
                </div>
                <div class="profile-info">
                    <h1 th:text="${currentUser.user.name}"></h1>
                    <address>
                        <p th:text="${currentUser.user.city}"><br> Phone:
                        <p th:text="${currentUser.user.phone}"></p>
                        <br> Email:<a href="resume.html#"><p th:text="${currentUser.user.email}"></p> <span
                            class="__cf_email__" data-cfemail="acc5d8dfc1c9ecdfd9ded6c5c0c9cbc9c9c782cfc3c1">[email&#160;protected]</span></a></p>
                    </address>
                </div>
            </div>
<!--            <div class="career-objective section">-->
<!--                <div class="icons">-->
<!--                    <i class="fa fa-black-tie" aria-hidden="true"></i>-->
<!--                </div>-->
<!--                <div class="career-info">-->
<!--                    <h3>Career Objective</h3>-->
<!--                    <span th:text="${resume.workExperience}"></span>-->
<!--                </div>-->
<!--            </div>-->
                        <div class="work-history section">
                            <div class="icons">
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </div>
                            <div class="work-info">
                                <h3>Work History</h3>
                                <ul>
                                    <li>
                                       <span th:text="${resume.workExperience}"></span>

                                    </li>
                                </ul>
                            </div>
        </div>
        <div class="educational-background section">
            <div class="icons">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <div class="educational-info">
                <h3>Education Background</h3>
                <span th:text="${resume.education}"></span>
                <!--                    <ul>-->
                <!--                        <li>-->
                <!--                            <h4>Masters of Arts @ Montana Satet University</h4>-->
                <!--                            <ul>-->
                <!--                                <li>Year: <span>1999 - 2001</span></li>-->
                <!--                                <li>Concentration/Major: <span>Major in Accounting</span></li>-->
                <!--                                <li>Course Duration: <span>2 Years</span></li>-->
                <!--                                <li>Result: <span>4.00</span></li>-->
                <!--                            </ul>-->
                <!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                <!--                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                <!--                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <h4>Bachalor of Arts @ Universty of Bristol</h4>-->
                <!--                            <ul>-->
                <!--                                <li>Year: <span>1999 - 2001</span></li>-->
                <!--                                <li>Concentration/Major: <span>Major in Accounting</span></li>-->
                <!--                                <li>Course Duration: <span>2 Years</span></li>-->
                <!--                                <li>Result: <span>4.00</span></li>-->
                <!--                            </ul>-->
                <!--                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim-->
                <!--                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
                <!--                                consequat.</p>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <h4>Diploma in Graphics Design @ Cincinnati Christian University</h4>-->
                <!--                            <ul>-->
                <!--                                <li>Year: <span>1999 - 2001</span></li>-->
                <!--                                <li>Concentration/Major: <span>Major in Accounting</span></li>-->
                <!--                                <li>Course Duration: <span>2 Years</span></li>-->
                <!--                                <li>Result: <span>4.00</span></li>-->
                <!--                            </ul>-->
                <!--                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat-->
                <!--                                nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>-->
                <!--                        </li>-->
                <!--                    </ul>-->
            </div>
        </div>
        <div class="special-qualification: section">
            <div class="icons">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </div>
            <div class="qualification">
                <h3>Special Qualification:</h3>
                <span th:text="${resume.qualifications}"></span>
                <!--                    <ul>-->
                <!--                        <li><span>1.</span> 5 years+ experience designing and building products In the Design & IT-->
                <!--                            industry.-->
                <!--                        </li>-->
                <!--                        <li><span>2.</span> Passion for people-centered design, solid intuition.</li>-->
                <!--                        <li><span>3.</span> Skilled at any Kind Design Tools.</li>-->
                <!--                        <li><span>4.</span> Hard Worker & Quick Lerner.</li>-->
                <!--                    </ul>-->
            </div>
        </div>
        <div class="language-proficiency section">
            <div class="icons">
                <i class="fa fa-language" aria-hidden="true"></i>
            </div>
            <div class="proficiency">
                <h3>Language Proficiency</h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h5>English</h5>
                        <ul>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
        <div class="personal-deatils section">
            <div class="icons">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
            </div>
            <div class="personal-info">
                <h3>Personal Deatils</h3>
                <ul class="address">
                    <li><h5 th:text="${resume.personalDetails}"></h5> <span>:</span></li>
                </ul>
            </div>
        </div>
        <div class="declaration section">
            <div class="icons">
                <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
            </div>
            <div class="declaration-info">
                <h3>Awards</h3>
                <p><span th:text="${resume.awards}"></span>
                </p>
            </div>
        </div>
        <div class="buttons">
            <a href="resume.html#" class="btn">Send Email</a>
        </div>
        <div class="download-button">
            <a th:if="${resume.resumeFile!=null}" th:href="@{/getFile(fileName=${resume.resumeFile})}" class="btn">Download</a>
        </div>
    </div>
    </div>
</section>

<div th:include="fragments/preset-fragment:: preset"></div>

<script data-cfasync="false" src="/js/email-decode.min.js"></script>
<script src="/js/jquery.min.js" type="2ef083dfadf3f7b4c8e5eda3-text/javascript"></script>
<script src="/js/popper.min.js" type="2ef083dfadf3f7b4c8e5eda3-text/javascript"></script>
<script src="/js/bootstrap.min.js" type="2ef083dfadf3f7b4c8e5eda3-text/javascript"></script>
<script src="/js/price-range.js" type="2ef083dfadf3f7b4c8e5eda3-text/javascript"></script>
<script src="/js/main.js" type="2ef083dfadf3f7b4c8e5eda3-text/javascript"></script>
<script src="/js/switcher.js" type="2ef083dfadf3f7b4c8e5eda3-text/javascript"></script>
<script type="2ef083dfadf3f7b4c8e5eda3-text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-73239902-1', 'auto');
	  ga('send', 'pageview');
</script>
<script src="/js/rocket-loader.min.js" data-cf-settings="2ef083dfadf3f7b4c8e5eda3-|49" defer=""></script>
</body>

</html>