<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head-fragment:: head"></div>

</head>
<body>

<div th:include="fragments/menu-fragment:: menu"></div>

<section class="job-bg user-page">
    <div class="container  text-center">
        <div class="user-account-content">
            <div class="user-account job-user-account">
                <h2>Create An Account</h2>
                <ul class="nav nav-tabs text-center" role="tablist">
                    <li role="presentation"><a class="active" href="#find-job" aria-controls="find-job" role="tab" data-toggle="tab">Find A Job</a></li>
                    <li role="presentation"><a href="#post-job" aria-controls="post-job" role="tab" data-toggle="tab">Post A Job</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active show" id="find-job">
                        <form action="/user/register" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="surname" class="form-control" placeholder="Surname">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>

                            <div class="form-group">
                                <input type="date" name="dateOfBirth" class="form-control" placeholder="Date of birth">
                            </div>
                            <select name="gender" class="form-control">
                                <option value="#">Gender</option>
                                <option value="MALE">MALE</option>
                                <option value="FEMALE">FEMALE</option>
                            </select>
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control" placeholder="Phone">
                            </div>
                            <!--                            <div class="form-group">-->
                            <!--                                <input type="file" name="fileName" class="form-control" placeholder="Download your resume">-->

                            <!--                            </div>-->
                            <select name="userType" class="form-control">
                                <option value="#">UserType</option>
                                <option value="USER">USER</option>
                                <!--                                <option value="EMPLOYER">EMPLOYER</option>-->
                                <!--                                <option value="#">ADMIN</option>-->
                            </select>
                            <select name="city" class="form-control">
                                <option value="#">Select City</option>
                                <option value="Yerevan">Yerevan</option>
                                <option value="Gyumri">Gyumri</option>
                                <option value="Vanadzor">Vanadzor</option>
                                <option value="Artik">Artik</option>
                                <option value="Maralik">Maralik</option>
                            </select>

                            <div class="form-group">
                                <input type="file" name="picName" class="form-control">
                                Download Photo
                            </div>
                            <div class="checkbox">
                                <label class="pull-left checked" for="signing"><input type="checkbox" name="signing"
                                                                                      id="signing"> By signing up for an
                                    account you agree to our Terms and Conditions </label>
                            </div>

                            <button type="submit" class="btn">Registration</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="post-job">
                        <form action="/user/employerRegister" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Employer Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email Id">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control" placeholder="Contact Number">
                            </div>
                            <select name="userType" class="form-control">
                                <option value="#">UserType</option>
                                <!--                                <option value="USER">USER</option>-->
                                <option value="EMPLOYER">EMPLOYER</option>
                                <!--                                <option value="#">ADMIN</option>-->
                            </select>
                            <select name="city" class="form-control">
                                <option value="#">Select City</option>
                                <option value="Yerevan">Yerevan</option>
                                <option value="Gyumri">Gyumri</option>
                                <option value="Vanadzor">Vanadzor</option>
                                <option value="Artik">Artik</option>
                                <option value="Maralik">Maralik</option>
                            </select>

                            <div class="form-group">
                                Download CompanyPhoto:<input type="file" name="picName" class="form-control">

                            </div>
                            <div class="checkbox">
                                <label class="pull-left checked" for="signing-2"><input type="checkbox" name="signing-2"
                                                                                        id="signing-2">By signing up for
                                    an account you agree to our Terms and Conditions</label>
                            </div>
                            <button type="submit" class="btn">Registration</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:include="fragments/footer-fragment:: footer"></div>
<div th:include="fragments/preset-fragment:: preset"></div>

<script src="/js/jquery.min.js" type="3ac4e0a6ecaf6ff8ac97cbba-text/javascript"></script>
<script src="/js/popper.min.js" type="3ac4e0a6ecaf6ff8ac97cbba-text/javascript"></script>
<script src="/js/bootstrap.min.js" type="3ac4e0a6ecaf6ff8ac97cbba-text/javascript"></script>
<script src="/js/price-range.js" type="3ac4e0a6ecaf6ff8ac97cbba-text/javascript"></script>
<script src="/js/main.js" type="3ac4e0a6ecaf6ff8ac97cbba-text/javascript"></script>
<script src="/js/switcher.js" type="3ac4e0a6ecaf6ff8ac97cbba-text/javascript"></script>
<script type="3ac4e0a6ecaf6ff8ac97cbba-text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-73239902-1', 'auto');
	  ga('send', 'pageview');
</script>
<script src="/js/rocket-loader.min.js" data-cf-settings="3ac4e0a6ecaf6ff8ac97cbba-|49" defer=""></script>
</body>

</html>